$primary: #f72210;
$grey900: #1b1b1b;
$grey800: #2e2e2e;
$grey700: #4d4d4d;
$grey600: #6d6d6d;
$grey500: #8d8d8d;
$grey400: #a1a1a1;
$grey300: #b1b1b1;
$grey200: #c1c1c1;
$grey100: #d1d1d1;

$full_width: 1920px;
$image_width_x0: 63px;
$image_height_x0: 63px;
$image_width_x1: 135px;
$image_height_x1: 90px;
$image_width_x2: 243px;
$image_height_x2: 162px;
$image_width_x3: 290px;
$image_height_x3: 194px;
$image_width_x4: 290px;
$image_height_x4: 387px;
$image_width_x5: 343px;
$image_height_x5: 229px;
$image_width_x6: 397px;
$image_height_x6: 265px;
$image_width_x7: 435px;
$image_height_x7: 290px;
$image_width_S: 190px;
$image_height_S: 301px;
$icon_width_social: 26px;
$icon_height_social: 26px;
$icon_width_gallery: 70px;
$icon_height_gallery: 52px;
$icon_width_section: 30px;
$icon_height_section: 30px;

$tablet: 768px;
$destop: 992px;
