$enable-rounded: false;
$enable-prefers-reduced-motion-media-query: false;
$enable-hover-media-query: true;
$enable-print-styles: false;
$input-btn-font-family: "Roboto Condense", sans-serif;
$btn-block-spacing-y: 0.1rem;
$headings-font-weight: 700;
$link-hover-decoration: none;
$enable-validation-icons: false;
$enable-deprecation-messages: false;
$enable-responsive-font-sizes: true;
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$container-max-widths: (
  sm: 460px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);
